#API
api/node_modules
api/public/build
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.env.production
api/.env.*
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json
api/npm-debug.log
api/yarn-error.log
api/.fleet
api/*.idea
api/*.vscode

# APP
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*
app/.editorconfig
app/src/coverage
app/node_modules
app/dist
app/dist-ssr
app/.env
app/.env.*
app/*.local
app/.gitattributes

# Root directories and files
!.vscode/extensions.json
.idea
.vscode/
.git
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
data/
logs/
config/
