@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #222;
  --lighter-blue: #009DFF;
  --light-blue: #007FCE;
  --blue: #0073BC;
  --dark-blue: #005993;
  --darker-blue: #003865;
  --dark-gray: #555;
  --darker-gray: #333;
  --gray: #999;
  --light-gray: #AAA;
  --lighter-gray: #CCC;
  --bg-gray: #E9E9E9;
  --red: #EF4444;
  --white: #FFF;
  --yellow: #FBB000;
  --border-color: #BBB;
  --border-radius: 10px;

  --green: #5f5;
  --error: var(--red);
  --success: var(--green);
  --warning: var(--yellow);
}

html { font-size: 20px; }

body {
  background-color: var(--blue);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

a:hover { text-decoration: underline; }
a.link { color: var(--dark-blue); }

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  .bg-main-blue { background-color: var(--blue); }
  .bg-main-dark-blue { background-color: var(--dark-blue); }
  .bg-main-darker-blue { background-color: var(--darker-blue); }
  .bg-main-light-blue  { background-color: var(--light-blue); }
  .bg-darker-gray { background-color: var(--darker-gray); }
  .text-blue { color: var(--blue); }
  .thick-border { border: 10px solid var(--dark-blue); }
  .text-darker-gray { color: var(--darker-gray); }

  /***** STYLED HEADINGS *****/
  .heading {
    display: block;
    font-size: calc(1vw + 1.3rem);
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    &.text-center {
      text-align: center;
    }
  }

  /***** ANGLED BACKGROUNDS *****/
  .angle-left {
    clip-path: polygon(0% 0, 100% 10%, 100% 100%, 0% 100%);
    padding: .5rem .5rem .5rem !important;
  }
  .angle-right {
    clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%);
    padding: .5rem .5rem .5rem !important;
  }
  .angle-bottom-left {
    clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
    padding: .5rem .5rem .5rem !important;
  }
  .angle-bottom-right {
    clip-path: polygon(0% 0%, 0% 90%, 100% 100%, 100% 0%);
    padding: .5rem .5rem .5rem !important;
  }

  /***** ANGLED BACKGROUNDS STRIPES *****/
  .striped-right {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(250, 250, 250, 0.05) 5px, rgba(250, 250, 250, 0.05) 20px);
    background-position: center 50%;
    background-repeat: repeat-y;
    background-size: 150% 150%;
  }
  .striped-left {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(250, 250, 250, 0.05) 5px, rgba(250, 250, 250, 0.05) 20px);
    background-position: center 50%;
    background-repeat: repeat-y;
    background-size: 150% 150%;
  }

  /***** FONT STYLES *****/
  .handwriting {
    font-family: 'Amatic SC', serif;
  }

  /***** TOOLTIPS *****/
  .tooltip {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--white);
    cursor: default;
    display: none;
    font-size: .75rem;
    left: 0;
    line-height: 20px;
    margin-top: -5px;
    padding: 5px 10px;
    position: absolute;
    text-transform: initial;
    top: -100%;
    transition: opacity, visibility 1s ease-in-out;
    transform: translateX(0);
    width: max-content;

    &.right {
      /*left: calc(100% + 10px);*/
      /*top: 50%;*/
      /*transform: translateY(-50%);*/
    }
  }

  /**

    &.right::before {
      left: calc(100% + 10px);
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      border: 6px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.75);
      content: "";
      opacity: 1;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%) translateY(-10px);
      transition: all .5s ease-in-out;
      visibility: visible;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    &.right::after {
      border-right-color: rgba(0, 0, 0, 0.75);
      border-top-color: transparent;
      left: calc(100% - 2px);
      top: 50%;
      transform: translateY(-50%);
    }
   */
}
