@use 'sass:color';
@import 'styles/variables';
@import 'styles/reset';
@import 'styles/admin';
@import 'styles/common';
@import 'styles/components';
@import 'styles/form';
@import 'styles/images';
@import 'styles/tables';
@import 'styles/modal';

html { font-size: 20px; }
body {
  background-color: var(--blue);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

header.main {
  background: var(--dark-blue);
  height: 50px;
  justify-content: space-between;
  padding: 10px 10vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header.main a.logo { display: block; width: 120px !important; }
header.main a.logo img { display: block; }
header.main nav.main { order: 1; }
header.main nav.main ul {
  display: flex;
  list-style: none;
  margin: 0;
}
header.main nav.main ul li a {
  color: var(--white);
  font-size: 90%;
  display: inline;
  margin-left: 30px;
  padding: 0 5px;
}
header.main nav.main ul li button { color: $white; font-size: 90%; }

#banners {
  background-color: var(--blue);
  height: 100vh;
  width: 100%;
}
#banners .banner-container {
  height: 100%;
  position: relative;
  width: 100%;
}
#banners .banner-container .banner-image {
  background-position: center center;
  background-size: cover;
  clip-path: polygon(0 95%, 0 0, 100% 0%, 100% 85%);
  height: 100%;
  width: 100%;
}
#banners .banner-container .banner-image .banner-text {
  color: var(--white);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 100;
}
#banners .banner-container .banner-image .banner-text em {
  font-size: max(3rem, 3vw);
  font-weight: bold;
  line-height: 1;
}
#banners .banner-container .banner-image nav.actions {
  color: var(--white);
  font-style: normal;
  justify-content: space-between;
  margin-top: 2rem;
  width: max-content;
}

.card {
  .reveal {
    background: var(--white);
    bottom: 0;
    color: var(--black);
    display: flex;
    font-size: max(calc(.5vw + .5rem), .75rem);
    margin: 0;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    z-index: 110;
  }
  &:hover {
    .reveal {
      height: auto;
      opacity: 1;
      padding: 10px 10px;
      transition: all ease-in-out .25s;
    }
  }
}

footer.main {
  align-content: center;
  background: var(--darker-blue);
  color: white;
  display: flex;
  font-size: .75rem;
  justify-content: space-between;
  padding: 2vw 10vw;
  width: 100%;
  div a {
    color: var(--washed-blue);
    margin-right: 1rem;
  }
}

ul.pills { align-content: start; justify-content: start; }
ul.pills li {
  background: linear-gradient(to right, var(--light-blue), var(--blue));
  border-radius: 2px;
  margin: 5px 10px 5px 0;
  padding: 1vw;
  width: fit-content;
}
