.admin {
    align-items: stretch;
    background-color: var(--bg-gray);
    display: flex;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;

    #user-dropdown-container {
        > button {
            @apply text-white rounded-full;
            background-color: var(--darker-blue);
            box-shadow: none !important;
            clip-path: border-box;
            font-size: 1em;
            height: 36px;
            line-height: 36px;
            padding: 2px !important;
            width: 36px;

            .avatar {
                @apply rounded-full;
                display: block;
                height: 32px;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }

        #user-dropdown {
            @apply bg-white absolute z-50 my-3 text-base top-8 right-3 left-auto border border-gray-300 drop-shadow-md max-w-56;
            p { @apply text-xs; }
            ul {
                @apply p-2;
                li {
                    a {
                        @apply block p-1 text-xs hover:bg-gray-200;
                    }
                }
            }
        }
    }

    .main-sidebar-btn {
        @apply text-white lg:hidden !p-0 hover:shadow-none;
    }

    #main-sidebar {
        @apply -translate-x-full fixed left-0 z-40 h-screen mt-12 pt-3 transition-transform lg:translate-x-0;
        background-color: var(--darker-gray);
        width: 250px;

        ul {
            @apply space-y-2 font-medium;
            li {
                a {
                    @apply flex items-center p-2 hover:no-underline;
                    color: var(--white);

                    &.active,
                    &:hover {
                        background-color: var(--dark-gray);
                        box-shadow: inset rgba(0, 0, 0, .5) 0 -3px 2px;
                    }

                    i {
                        &::before {
                            display: inline-block;
                            font-size: 1rem;
                            text-align: center;
                            width: 24px;
                        }
                    }
                }
            }
        }
    }

    main {
        @apply relative mt-12 p-4 w-full;
        overflow-x: scroll;

        .page-header {
            @apply flex items-center justify-between mb-3 text-[1.25rem];
        }

        .section {
            @apply bg-white flex flex-wrap p-3 gap-3 flex-1 overflow-x-scroll;
        }
    }
}
