@use 'sass:color';

a {
    color: var(--dark-blue);
    text-decoration: none;
    &:hover { text-decoration: underline; }
}
p {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
    strong {
        font-weight: 500;
    }
}
hr {
    background: var(--border-color);
    border: none;
    height: 1px;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 24.99%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6, .w-50 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 74.99%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12, .w-100 { width: 100%; }
.vh-100 { min-height: 100vh; }
.h-100 { height: 100%; }
.w-auto { width: auto; }
.flex { display: flex; }
.flex.row { width: 100%; flex-direction: row; }
.flex.column { width: 100%; flex-direction: column; }
.flex.wrap { flex-wrap: wrap; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.align-bottom { align-content: end; align-items: end; }
.align-center, .align-middle { align-content: center; align-items: center; }
.align-top { align-content: start; align-items: start; }
.align-items-stretch { align-items: stretch; }
.justify-between { justify-content: space-between; }
.justify-center, .justify-middle { justify-content: center; }
.justify-right { justify-content: end; }
.float-left { float: left; }
.float-right { float: right; }
.hidden { display: none; visibility: hidden; }
.d-block, .show { display: block; visibility: visible; }
.d-flex { display: flex; visibility: visible; }
.circle { border-radius: 100%; }

/***** BORDERS *****/
.border-thin { border: 1px solid var(--white); }
.border-bottom-thin { border-bottom: 1px solid var(--white); }
.border-left-thin { border-left: 1px solid var(--white); }
.border-right-thin { border-right: 1px solid var(--white); }
.border-top-thin { border-top: 1px solid var(--white); }
.border-med { border: 3px solid var(--white); }
.border-bottom-med { border-bottom: 3px solid var(--white); }
.border-left-med { border-left: 3px solid var(--white); }
.border-right-med { border-right: 3px solid var(--white); }
.border-top-med { border-top: 3px solid var(--white); }
.border-bottom-dark { border-bottom: 1px solid var(--border-color); }
.border-top-dark { border-top: 1px solid var(--border-color); }

/***** MARGIN & PADDING *****/
.ma, .margin-all { margin: 1rem }
.mae, .margin-all-extra { margin: 2rem }
.mb, .margin-bottom { margin-bottom: 1rem; }
.mbe { margin-bottom: 2rem; }
.mbn, .margin-bottom-negative { margin-bottom: -1rem; }
.mb-sm, .margin-bottom-sm { margin-bottom: .5rem; }
.mb-0, .margin-bottom-0 { margin-bottom: 0; }
.ml, .margin-left { margin-left: 1rem; }
.mr, .margin-right { margin-right: 1rem; }
.mre, .margin-right-extra { margin-right: 2rem; }
.mr-sm, .margin-right-sm { margin-right: .5rem; }
.mt-sm, .margin-top-sm { margin-top: .5rem; }
.ml-sm, .margin-left-sm { margin-left: .5rem; }
.mt, .margin-top { margin-top: 1rem; }
.mte, .margin-top-extra { margin-top: 2rem; }
.mtn, .margin-top-negative { margin-top: -1rem; }
.mtne, .margin-top-negative-extra { margin-top: -2rem; }
.mt-0 { margin-top: 0; }
.mn, .margin-none { margin: 0; }
.pb, .pad-bottom { padding-bottom: 1rem; }
.pbe, .pad-bottom-extra { padding-bottom: 2rem; }
.pl, .pad-left { padding-left: 1rem; }
.pl-sm, .pad-left-small { padding-left: .5rem; }
.pr, .pad-right { padding-right: 1rem; }
.pr-sm, .pad-right-small { padding-right: .5rem; }
.pt, .pad-top { padding-top: 1rem; }
.pte, .pad-top-extra { padding-top: 2rem; }
.pa, .pad-all { padding: 1rem; }
.pae, .pad-all-extra { padding: 2rem; }
.pas, .pad-all-sm { padding: .5rem; }
.pn, .pad-none { padding: 0; }

/***** COLORS & EFFECTS *****/
.text-shadow { text-shadow: black 0 1px 0; }
.blue { background-color: var(--blue); }
.text-blue { color: var(--blue); }
.text-red { color: var(--red); }
.white { background-color: var(--white); }
.text-white { color: var(--white); }
.yellow { background-color: var(--yellow); }
.text-yellow { color: var(--yellow); }
.light-blue { background: var(--light-blue) }
.dark-blue { background: var(--dark-blue) }







/***** HELPERS *****/
.pointer { cursor: pointer; }
.font-sm { font-size: .75rem; }
.font-lg {
    font-size: 1.5rem;
    &.handwriting {
        font-size: 3rem;
    }
}
.font-xl {
    font-size: 2rem;
    &.handwriting {
        font-size: 4rem;
    }
}
.font-xxl {
    font-size: 3rem;
    &.handwriting {
        font-size: 5rem;
    }
}
.font-white { color: var(--white); }
.font-bold, .bold { font-weight: bold; }
.handwriting { font-family: 'Amatic SC', serif; }
.u-list { list-style: none; margin: 0; padding: 0; }

/***** ALERTS *****/
.alert {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 .5rem 0;
    padding: .5rem 1rem;
    position: relative;
    &.error,
    &.danger {
        background-color: $error;
        color: color.adjust($red, $lightness: -50%);
    }
    &.success,
    &.positive {
        background-color: $success;
        color: color.adjust($green, $lightness: -50%);
    }
    &.message,
    &.neutral {
        background-color: $washed-blue;
        color: color.adjust($green, $lightness: -50%);
    }
    .fa-close { cursor: pointer; }
}

/***** TOOLTIPS *****/
.tooltip {
    display: inline-block;
    position: relative;
}
.tooltip:hover::before {
    background-color: rgba(0, 0, 0, .75);
    bottom: 100%;
    color: var(--white);
    content: attr(data-tooltip);
    font-size: .75rem;
    left: 50%;
    padding: .25rem .5rem;
    position: absolute;
    text-transform: initial;
    transform: translateX(-50%);
    white-space: nowrap;
}
.tooltip:hover::after {
    border: 10px solid rgba(0, 0, 0, .75);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: calc(100% - 20px);
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

/***** LOADING *****/
.loading {
    height: 100%;
    justify-content: center;
    justify-items: center;
    margin: auto;
    position: relative;
    width: 100%;
    text-align: center;
    top: calc(50vh - 80px);
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-grid div {
        background: var(--dark-blue);
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        animation: lds-grid 1.2s linear infinite;
        &:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }
        &:nth-child(2) {
            top: 8px;
            left: 32px;
            animation-delay: -0.4s;
        }
        &:nth-child(3) {
            top: 8px;
            left: 56px;
            animation-delay: -0.8s;
        }
        &:nth-child(4) {
            top: 32px;
            left: 8px;
            animation-delay: -0.4s;
        }
        &:nth-child(5) {
            top: 32px;
            left: 32px;
            animation-delay: -0.8s;
        }
        &:nth-child(6) {
            top: 32px;
            left: 56px;
            animation-delay: -1.2s;
        }
        &:nth-child(7) {
            top: 56px;
            left: 8px;
            animation-delay: -0.8s;
        }
        &:nth-child(8) {
            top: 56px;
            left: 32px;
            animation-delay: -1.2s;
        }
        &:nth-child(9) {
            top: 56px;
            left: 56px;
            animation-delay: -1.6s;
        }
    }

    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
}

/***** SCREEN RESPONSIVE *****/
@media screen and (max-width: 900px) {
    .col-1-sm { width: 8.33%; }
    .col-2-sm { width: 16.66%; }
    .col-3-sm { width: 24.99%; }
    .col-4-sm { width: 33.33%; }
    .col-5-sm { width: 41.66%; }
    .col-6-sm { width: 50%; }
    .col-7-sm { width: 58.33%; }
    .col-8-sm { width: 66.66%; }
    .col-9-sm { width: 74.99%; }
    .col-10-sm { width: 83.33%; }
    .col-11-sm { width: 91.66%; }
    .col-12-sm { width: 100%; }
    .mt-0-sm { margin-top: 0; }
    .mt-1-sm { margin-top: .25rem; }
    .mt-2-sm { margin-top: .5rem; }
    .mt-3-sm { margin-top: .75rem; }
    .mt-4-sm { margin-top: 1rem; }
    .mt-e-sm { margin-top: 2rem; }
    .ml-0-sm { margin-left: 0; }
    .ml-1-sm { margin-left: .25rem; }
    .ml-2-sm { margin-left: .5rem; }
    .ml-3-sm { margin-left: .75rem; }
    .ml-4-sm { margin-left: 1rem; }
    .ml-e-sm { margin-left: 2rem; }
    .mr-0-sm { margin-right: 0; }
    .mr-1-sm { margin-right: .25rem; }
    .mr-2-sm { margin-right: .5rem; }
    .mr-3-sm { margin-right: .75rem; }
    .mr-4-sm { margin-right: 1rem; }
    .mr-e-sm { margin-right: 2rem; }
    .pb-0-sm { padding-bottom: 0; }
    .pl-0-sm { padding-left: 0; }
    .pr-0-sm { padding-right: 0; }
    .pt-0-sm { padding-top: 0; }
    .text-center-sm { text-align: center; }
    .text-left-sm { text-align: left; }
    .text-right-sm { text-align: right; }
}
