form {
    @apply bg-white space-y-4 p-3 border;
}

label {
    @apply flex items-start mb-2 text-sm;
    line-height: 1;
    .required {
        @apply text-xs leading-3 ml-[2px];
    }
}

.error {
    @apply text-red-500 mt-1 text-xs;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    @apply min-h-8 w-full text-sm px-2 py-1;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: var(--white);
    border: 1px solid var(--border-color);
    &:focus {
        outline-offset: -1px;
        outline: var(--lighter-blue) solid 1px;
    }
    &.error { border-color: var(--error); }
}

select {
    background-color: #fafafa;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--dark-blue);
        border-radius: 100%;
        cursor: pointer;
        height: 28px;
        margin-top: -8px;
        width: 28px;
    }
    &::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        background-color: var(--dark-blue);
        border-radius: 100%;
        cursor: pointer;
        height: 28px;
        margin-top: -8px;
        width: 28px;
    }
    &:focus {
        outline: none;
        &::-webkit-slider-thumb {
            background-color: $darker-blue;
        }
        &::-moz-range-thumb {
            background-color: $darker-blue;
        }
    }
    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, $lighter-gray, $washed-blue);
        height: 12px;
        width: 100%;
    }
    &::-moz-range-track {
        background: linear-gradient(to right, $lighter-gray, $washed-blue);
        height: 12px;
        width: 100%;
    }
    &::-ms-track {
        background: transparent; /* Transparent for default track */
        height: 12px;
        width: 100%;
    }
    &::-ms-fill-lower {
        background: $lighter-gray; /* Lower fill */
    }
    &::-ms-fill-upper {
        background: $washed-blue; /* Upper fill */
    }
}



/***** BUTTONS *****/
button,
.button {
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        box-shadow: inset 0 0 500px rgba(0, 0, 0, .25);
        text-decoration: none;
        transition: box-shadow 250ms ease-in-out;
    }
    &.blue,
    &.primary {
        background: var(--blue);
        color: var(--white);
        &.transparent {
            background: rgba(0, 115, 188, .75);
        }
    }
    &.red {
        background: var(--red);
        color: var(--white);
        &.transparent {
            background: rgba(250, 56, 56, .75);
        }
    }
    &.white {
        background: var(--white);
        color: var(--black);
        &.transparent {
            background: rgba(250, 250, 250, .75);
            color: var(--dark-gray);
        }
    }
    &.yellow {
        background: var(--yellow);
        color: var(--white);
        &.transparent {
            background: rgba(250, 176, 0, .75);
        }
    }
    &.text {
        background: none;
        color: inherit;
        display: inline;
        padding: 0;
        text-transform: unset;
        &:hover {
            box-shadow: none;
            text-decoration: underline;
        }
        &.blue { color: var(--blue); }
    }
    &.transparent {
        background: rgba(0, 0, 0, .5);
    }
    &.small {
        font-size: 0.75rem;
        height: 2rem;
        padding: 0 1rem;
    }
    &.three-d {
        @apply border-b-8;
    }
    &.remove-image-button {
        @apply absolute bg-red-500 text-white rounded-full;
        font-size: 11px;
        height: 24px;
        line-height: 1;
        padding: 0;
        right: -10px;
        top: -10px;
        width: 24px;
    }
}
