/***** TABLE STYLES *****/
table {
    border-collapse: collapse;
    width: 100%;
    tr {
        border-bottom: 1px solid var(--lighter-gray);
        th {
            @apply cursor-default px-2 py-1 text-left;
        }
        td {
            @apply p-2 text-sm;
            .table-image {
                align-items: start;
                aspect-ratio: 1/1;
                display: flex;
                justify-items: center;
                overflow: hidden;
                img {
                    display: block;
                }
            }
        }
    }

    &.scrollable {
        border: 1px solid var(--border-color);
        max-height: 50vh;
        overflow-y: auto;
        table {
            border: none;
            thead {
                th {
                    position: sticky;
                    top: 0;
                }
            }
            tbody {
                tr:last-child {
                    border-bottom: none;
                }
            }
            tfoot {
                td {
                    background: var(--white);
                    position: sticky;
                    bottom: -1px;
                }
            }
        }
    }

    &.sortable {
        th {
            &.sorted::after { font-size: .875rem; margin: 2px 0 0 2px; position: absolute; }
            &.sorted.asc::after { content: '↑'; }
            &.sorted.desc::after { content: '↓'; }
        }
    }
}
