#relationship-images-container {
  @apply w-full md:w-1/2 lg:w-1/3 md:pr-3 lg:pr-3;
  #primary-image-container {
    @apply w-[100%] overflow-hidden relative;
    height: max(250px, 50vh);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    #primary-image-button {
      @apply absolute bottom-4 left-4 px-2 py-1;
      &:hover { box-shadow: none; }
    }
  }
}

#relationship-data {
  @apply w-full md:w-1/2 lg:w-2/3
}

.details {
  @apply flex flex-wrap justify-between gap-3;
  p {
    @apply text-sm;
  }
}

