includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 2  # Level 10 is the highest level

#	ignoreErrors:
#		-
#			identifier: staticMethod.notFound
#       - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
